@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }
  html ol,
  html ul {
    padding-left: 0; }

body {
  font-family: "Cinzel", serif;
  font-size: 16px;
  background-color: #b09e80; }

@media screen and (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 8rem 4rem auto auto auto 4rem; */
    grid-template-areas: "cabecera cabecera" "menu menu" "slider slider" "vinos vinos" "promociones envios" "formasDePago seleccion" "footer footer"; }
  .contenedor__vinos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera" "menu menu" "barralateral vinos" "barralateral vinos2" "promociones envios" "formasDePago seleccion" "footer footer"; }
  .contenedor__destilados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera" "menu menu" "destilados destilados" "destilados2 destilados2" "promociones envios" "formasDePago seleccion" "footer footer"; }
  .contenedor__espumantes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera" "menu menu" "espumantes espumantes" "espumantes2 espumantes2" "promociones envios" "formasDePago seleccion" "footer footer "; } }

@media screen and (min-width: 1200px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "menu menu menu menu" "slider slider slider slider" "vinos vinos vinos vinos" "promociones envios formasDePago seleccion" "footer footer footer footer"; }
  .contenedor__vinos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "menu menu menu menu" "barralateral vinos vinos vinos" "barralateral vinos2 vinos2 vinos2" "promociones envios formasDePago seleccion" "footer footer footer footer"; }
  .contenedor__destilados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "menu menu menu menu" "destilados destilados destilados destilados" "destilados2 destilados2 destilados2 destilados2" "promociones envios formasDePago seleccion" "footer footer footer footer"; }
  .contenedor__espumantes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "menu menu menu menu" "espumantes espumantes espumantes espumantes" "espumantes2 espumantes2 espumantes2 espumantes2" "promociones envios formasDePago seleccion" "footer footer footer footer"; } }

/***********Menu************************/
.menu {
  height: 3rem;
  background-color: #000;
  z-index: 999;
  display: flex;
  flex-direction: row;
  text-align: center;
  grid-area: menu;
  position: sticky;
  top: 0; }
  .menu .menu__escritorio {
    display: none; }
  .menu .menu__mobile {
    display: flex;
    padding-right: 1rem;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center; }
    .menu .menu__mobile a {
      margin-right: 1rem;
      color: #b09e80; }

@media screen and (min-width: 768px) {
  .menu {
    top: 8rem;
    background-color: #000;
    height: 3rem;
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .menu .menu__escritorio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .menu .menu__escritorio a {
        text-decoration: none;
        font-size: 1.25rem;
        margin: 0 0.5rem;
        padding: 10px;
        color: #b09e80; }
      .menu .menu__escritorio a:hover {
        background-color: #2e4465;
        color: #fff;
        border-bottom: solid 2px #b09e80; }
    .menu .menu__mobile {
      display: none; } }

@media screen and (min-width: 1200px) {
  .menu .menu__escritorio {
    width: 80%;
    justify-content: space-around; }
    .menu .menu__escritorio a {
      padding-left: 2rem;
      padding-right: 2rem; } }

.cabecera {
  background-color: #192537;
  height: 92vh;
  grid-area: cabecera;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #192537;
  justify-content: center;
  align-items: center; }
  .cabecera .cabecera__titulo {
    color: #fff;
    margin-top: 0.5rem;
    font-weight: normal; }
  .cabecera .cabecera__subtitulo {
    color: #b09e80;
    font-size: 1.2rem;
    font-weight: lighter; }

@media screen and (min-width: 768px) {
  .cabecera {
    height: 8rem;
    position: sticky;
    top: 0;
    z-index: 999; } }

.slider {
  grid-area: slider; }
  .slider .carousel-item {
    height: 36rem;
    background-size: cover;
    background-position: center center; }
  .slider .carousel-item::before {
    content: "";
    position: absolute;
    background: black;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; }
  .slider .slider__fondotexto {
    color: #fff;
    background-color: #192537;
    width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem; }

@media screen and (min-width: 768px) {
  .slider {
    grid-area: slider; }
    .slider .carousel-item {
      height: 28rem;
      background-size: cover;
      background-position: center center; } }

.galeriaHome {
  height: auto;
  grid-area: galeriaHome;
  display: flex; }
  .galeriaHome .card-img-top {
    height: auto;
    width: 25%; }
  .galeriaHome .galeriaHome__titulo {
    font-weight: normal; }
  .galeriaHome .galeriaHome__subtitulo {
    font-weight: bolder;
    color: #192537;
    background-color: var(--color-secundario); }
  .galeriaHome .galeriaHome__descripcion {
    color: #192537; }

.formatoTarjeta {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #2e4465;
  color: #b09e80;
  border-radius: 0 2rem 0 2rem;
  transition: all 0.3s ease-in-out; }

.formatoTarjeta:hover {
  background-image: linear-gradient(#504737, #b09e80, #504737);
  border-radius: 2rem 0 2rem 0; }
  .formatoTarjeta:hover p {
    color: #192537;
    font-weight: normal; }
  .formatoTarjeta:hover h2 {
    color: #192537;
    padding-top: 1rem; }

.contenedorflex {
  grid-area: galeriaHome;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #222121; }
  .contenedorflex .contenedor__cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 10px 0; }
    .contenedorflex .contenedor__cards .card {
      position: relative;
      width: 200px;
      height: 400px;
      margin: 4px;
      overflow: hidden;
      background-color: #192537;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      border: 1px solid #b09e80;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contenedorflex .contenedor__cards .card .imgBox img {
        width: 100%;
        height: auto; }
      .contenedorflex .contenedor__cards .card .contenido {
        position: absolute;
        bottom: -160px;
        width: 100%;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        flex-direction: column;
        backdrop-filter: blur(15px);
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #192537;
        transition: bottom 0.5s; }
        .contenedorflex .contenedor__cards .card .contenido .contenido__texto h3 {
          color: brown;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 500;
          font-size: 18px;
          text-align: center;
          margin: 20px 0 15px;
          line-height: 1.1em;
          transition: 0.5s;
          opacity: 0;
          transform: translateY(-20px);
          transition: bottom 0.5s;
          transition-delay: 0.6s; }
          .contenedorflex .contenedor__cards .card .contenido .contenido__texto h3 span {
            font-weight: 300;
            font-size: 12px;
            text-transform: initial; }
        .contenedorflex .contenedor__cards .card .contenido .lista {
          position: relative;
          bottom: 10px;
          display: flex; }
          .contenedorflex .contenedor__cards .card .contenido .lista li {
            padding-left: 0rem !important;
            list-style: none;
            margin: 0 10px;
            transform: translateY(40px);
            transition: 0.5s;
            opacity: 0;
            transition-delay: calc(0.2s * var(--i)); }
            .contenedorflex .contenedor__cards .card .contenido .lista li a {
              text-align: center;
              color: lavender; }
  .contenedorflex .contenedor__cards .card:hover .contenido {
    bottom: 0px; }
  .contenedorflex .contenedor__cards .card:hover .contenido .contenido__texto h3 {
    opacity: 1;
    transform: translateY(0px); }
  .contenedorflex .contenedor__cards .card:hover .contenido .lista li {
    transform: translateY(0px);
    opacity: 1; }

.barraLateral {
  grid-area: barralateral;
  background-color: blue;
  display: flex;
  flex-direction: column; }

.footer {
  height: 4rem;
  grid-area: footer;
  display: flex;
  background-color: black;
  color: #b09e80;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; }
  .footer .parrafo-1 {
    height: 1rem; }
  .footer .parrafo-2 {
    height: 2rem; }
  .footer .footer__diseñadoPor {
    width: 50%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer .footer__redes {
    width: 50%;
    margin: 0 auto;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center; }
    .footer .footer__redes .fdo--whatsapp {
      color: #ceab70; }
    .footer .footer__redes .fdo--facebook {
      color: #ceab70; }
    .footer .footer__redes .fdo--instagram {
      color: #ceab70; }
    .footer .footer__redes p {
      margin: 0 0.5rem;
      transition: all 0.3s ease-out; }
    .footer .footer__redes p:hover {
      color: white;
      transform: rotate(360deg) scale(1.25, 1.25); }

@media screen and (min-width: 768px) {
  .footer .footer__diseñadoPor {
    width: 50%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    align-items: baseline; } }

p {
  font-family: "Roboto", sans-serif; }

.contenedor {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #192537;
  height: auto; }

.contenedor__vinos {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: yellow;
  height: auto; }

.promociones {
  height: 35vh;
  grid-area: promociones;
  display: flex; }

.envios {
  height: 35vh;
  grid-area: envios;
  display: flex; }

.formasDePago {
  height: 35vh;
  grid-area: formasDePago;
  display: flex; }

.seleccion {
  height: 35vh;
  grid-area: seleccion;
  display: flex; }

#galeriaVinos {
  grid-area: vinos; }

#galeriaVinos2 {
  grid-area: vinos2; }

#galeriaespumantes {
  grid-area: espumantes; }

#galeriaespumantes2 {
  grid-area: espumantes2; }

#galeriadestilados {
  grid-area: destilados; }

#galeriadestilados2 {
  grid-area: destilados2; }
