@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }
  html ol,
  html ul {
    padding-left: 0; }

body {
  font-family: "Cinzel", serif;
  font-size: 16px;
  background-color: #b09e80; }

@media screen and (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 8rem 4rem auto auto auto 4rem; */
    grid-template-areas: "cabecera cabecera" "menu menu" "slider slider" "vinos vinos" "promociones envios" "formasDePago seleccion" "footer footer"; }
  .contenedor__vinos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera" "menu menu" "vinos vinos" "promociones envios" "formasDePago seleccion" "footer footer"; }
  .contenedor__destilados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera" "menu menu" "destilados destilados" "destilados2 destilados2" "promociones envios" "formasDePago seleccion" "footer footer"; }
  .contenedor__espumantes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera" "menu menu" "espumantes espumantes" "espumantes2 espumantes2" "promociones envios" "formasDePago seleccion" "footer footer "; } }

@media screen and (min-width: 1200px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "menu menu menu menu" "slider slider slider slider" "vinos vinos vinos vinos" "promociones envios formasDePago seleccion" "footer footer footer footer"; }
  .contenedor__vinos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "menu menu menu menu" "vinos vinos vinos vinos" "promociones envios formasDePago seleccion" "footer footer footer footer"; }
  .contenedor__destilados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "menu menu menu menu" "destilados destilados destilados destilados" "destilados2 destilados2 destilados2 destilados2" "promociones envios formasDePago seleccion" "footer footer footer footer"; }
  .contenedor__espumantes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "menu menu menu menu" "espumantes espumantes espumantes espumantes" "espumantes2 espumantes2 espumantes2 espumantes2" "promociones envios formasDePago seleccion" "footer footer footer footer"; } }

/***********Menu************************/
.menu {
  grid-area: menu;
  height: 4rem; }

.navbar {
  padding-top: 0;
  padding-bottom: 0; }
  .navbar .navbar__titulo {
    font-size: 1.5rem;
    border-bottom: 1.5px solid #b09e80;
    margin-left: 0.5rem; }

.cabecera {
  background-color: #192537;
  height: 92vh;
  grid-area: cabecera;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #192537;
  justify-content: center;
  align-items: center; }
  .cabecera .cabecera__titulo {
    color: #fff;
    margin-top: 0.5rem;
    font-weight: normal; }
  .cabecera .cabecera__subtitulo {
    color: #b09e80;
    font-size: 1.2rem;
    font-weight: lighter; }

@media screen and (min-width: 768px) {
  .cabecera {
    height: 8rem;
    position: sticky;
    top: 0; } }

.slider {
  grid-area: slider; }
  .slider .carousel-item {
    height: 36rem;
    background-size: cover;
    background-position: center center; }
  .slider .carousel-item::before {
    content: "";
    position: absolute;
    background: black;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; }
  .slider .slider__fondotexto {
    color: #fff;
    background-color: #192537;
    width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem; }

@media screen and (min-width: 768px) {
  .slider {
    grid-area: slider; }
    .slider .carousel-item {
      height: 28rem;
      background-size: cover;
      background-position: center center; } }

.galeriaHome {
  height: auto;
  grid-area: galeriaHome;
  display: flex; }
  .galeriaHome .card-img-top {
    height: auto;
    width: 25%; }
  .galeriaHome .galeriaHome__titulo {
    font-weight: normal; }
  .galeriaHome .galeriaHome__subtitulo {
    font-weight: bolder;
    color: #192537;
    background-color: var(--color-secundario); }
  .galeriaHome .galeriaHome__descripcion {
    color: #192537; }

.formatoTarjeta {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #2e4465;
  color: #b09e80;
  border-radius: 0 2rem 0 2rem;
  transition: all 0.3s ease-in-out; }

.formatoTarjeta:hover {
  background-image: linear-gradient(#504737, #b09e80, #504737);
  border-radius: 2rem 0 2rem 0; }
  .formatoTarjeta:hover p {
    color: #192537;
    font-weight: normal; }
  .formatoTarjeta:hover h2 {
    color: #192537;
    padding-top: 1rem; }

.contenedorflex {
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedorcards {
  grid-area: galeriaHome;
  position: relative;
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .contenedorcards .cards {
    position: relative;
    width: 200px;
    height: 400px;
    background: linear-gradient(#2e4465, #2e4465 30%, #192537, #192537 30%);
    border: 1px solid #b09e80;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden; }
    .contenedorcards .cards .contenido {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 5px;
      transform: translateY(100%);
      transition: 0.5s; }
      .contenedorcards .cards .contenido .detalles {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center; }
        .contenedorcards .cards .contenido .detalles .iconos {
          position: relative;
          display: flex;
          justify-content: center;
          margin-top: 5px; }
          .contenedorcards .cards .contenido .detalles .iconos li {
            list-style: none;
            margin: 4px; }
            .contenedorcards .cards .contenido .detalles .iconos li a {
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #b09e80;
              border-radius: 50%;
              font-size: 1.2rem;
              color: #192537;
              text-decoration: none;
              transition: 0.5s; }
        .contenedorcards .cards .contenido .detalles h2 {
          color: white;
          font-size: 1.2em;
          font-weight: 500; }
          .contenedorcards .cards .contenido .detalles h2 span {
            font-size: 0.8em;
            font-weight: 400;
            color: #2196f3; }
    .contenedorcards .cards .imgBx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.4s;
      z-index: 1000;
      border-radius: 20px;
      overflow: hidden;
      transform-origin: top; }
      .contenedorcards .cards .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }

.contenedorcards .cards:hover .imgBx {
  transform: translateY(30px) scale(0.5); }

.contenedorcards .cards:hover .contenido {
  transform: translateY(0%); }

.iconos li a:hover {
  transform: rotate(360deg);
  background-color: darkmagenta; }

.barraLateral {
  display: none; }

@media screen and (min-width: 1200px) {
  .barraLateral {
    display: block;
    grid-area: barralateral;
    background-color: blue;
    display: flex;
    flex-direction: column; } }

.footer {
  height: 4rem;
  grid-area: footer;
  display: flex;
  background-color: black;
  color: #b09e80;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; }
  .footer .parrafo-1 {
    height: 1rem; }
  .footer .parrafo-2 {
    height: 2rem; }
  .footer .footer__diseñadoPor {
    width: 50%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer .footer__redes {
    width: 50%;
    margin: 0 auto;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center; }
    .footer .footer__redes .fdo--whatsapp {
      color: #ceab70; }
    .footer .footer__redes .fdo--facebook {
      color: #ceab70; }
    .footer .footer__redes .fdo--instagram {
      color: #ceab70; }
    .footer .footer__redes p {
      margin: 0 0.5rem;
      transition: all 0.3s ease-out; }
    .footer .footer__redes p:hover {
      color: white;
      transform: rotate(360deg) scale(1.25, 1.25); }

@media screen and (min-width: 768px) {
  .footer .footer__diseñadoPor {
    width: 50%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    align-items: baseline; } }

p {
  font-family: "Roboto", sans-serif; }

.contenedor {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #192537;
  height: auto; }

.contenedor__vinos {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #282829;
  height: auto; }

.promociones {
  height: 35vh;
  grid-area: promociones;
  display: flex; }

.envios {
  height: 35vh;
  grid-area: envios;
  display: flex; }

.formasDePago {
  height: 35vh;
  grid-area: formasDePago;
  display: flex; }

.seleccion {
  height: 35vh;
  grid-area: seleccion;
  display: flex; }

#galeriaVinos {
  grid-area: vinos; }

#galeriaespumantes {
  grid-area: espumantes; }

#galeriaespumantes2 {
  grid-area: espumantes2; }

#galeriadestilados {
  grid-area: destilados; }

#galeriadestilados2 {
  grid-area: destilados2; }
