.contenedorflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorcards {
  grid-area: galeriaHome;
  position: relative;
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .cards {
    position: relative;
    width: 200px;
    height: 400px;
    background: linear-gradient(
      $colorprimarioclaro,
      $colorprimarioclaro 30%,
      $colorprimario,
      $colorprimario 30%
    );
    border: 1px solid $colorsecundario;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    .contenido {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 5px;
      transform: translateY(100%);
      transition: 0.5s;
      .detalles {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .iconos {
          position: relative;
          display: flex;
          justify-content: center;
          margin-top: 5px;
          li {
            list-style: none;
            margin: 4px;
            a {
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: $colorsecundario;
              border-radius: 50%;
              font-size: 1.2rem;
              color: $colorprimario;
              text-decoration: none;
              transition: 0.5s;
            }
          }
        }
        h2 {
          color: white;
          font-size: 1.2em;
          font-weight: 500;
          span {
            font-size: 0.8em;
            font-weight: 400;
            color: #2196f3;
          }
        }
      }
    }
    .imgBx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.4s;
      z-index: 1000;
      border-radius: 20px;
      overflow: hidden;
      transform-origin: top;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.contenedorcards .cards:hover .imgBx {
  transform: translateY(30px) scale(0.5);
}
.contenedorcards .cards:hover .contenido {
  transform: translateY(0%);
}
.iconos li a:hover {
  transform: rotate(360deg);
  background-color: darkmagenta;
}
