.footer {
  padding-top: 1rem;
  background-color: $colornegro;
  padding-bottom: 2rem;
  color: $colorblanco;
  .logo {
    img {
      height: 50px;
      width: auto;
    }
    h3 {
      span {
        font-size: 1.5rem;
        color: $colorblanco;
        border-bottom: 1px solid $colorsecundario;
      }
    }
  }
  .textos__footer {
    font-family: roboto;
    font-size: 15px;
    font-weight: lighter;
    padding-top: 0.75rem;
  }
  i {
    padding: 0.1rem;
    font-size: 1.25rem;
  }
}
