.galeriaHome {
  height: auto;
  grid-area: galeriaHome;
  display: flex;

  .card-img-top {
    height: auto;
    width: 25%;
  }
  .galeriaHome__titulo {
    font-weight: normal;
  }
  .galeriaHome__subtitulo {
    font-weight: bolder;
    color: $colorprimario;
    background-color: var(--color-secundario);
  }
  .galeriaHome__descripcion {
    color: $colorprimario;
  }
}
