@media screen and (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 8rem 4rem auto auto auto 4rem; */
    grid-template-areas:
      "cabecera cabecera"
      "menu menu"
      "slider slider"
      "vinos vinos"
      "promociones envios"
      "formasDePago seleccion"
      "footer footer";
  }
  .contenedor__vinos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-template-areas:
      "cabecera cabecera"
      "menu menu"
      "vinos vinos"
      "promociones envios"
      "formasDePago seleccion"
      "footer footer";
  }
  .contenedor__destilados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-template-areas:
      "cabecera cabecera"
      "menu menu"
      "destilados destilados"
      "destilados2 destilados2"
      "promociones envios"
      "formasDePago seleccion"
      "footer footer";
  }
  .contenedor__espumantes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-template-areas:
      "cabecera cabecera"
      "menu menu"
      "espumantes espumantes"
      "espumantes2 espumantes2"
      "promociones envios"
      "formasDePago seleccion"
      "footer footer ";
  }
}
@media screen and (min-width: 1200px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas:
      "cabecera cabecera cabecera cabecera"
      "menu menu menu menu"
      "slider slider slider slider"
      "vinos vinos vinos vinos"
      "promociones envios formasDePago seleccion"
      "footer footer footer footer";
  }
  .contenedor__vinos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-template-areas:
      "cabecera cabecera cabecera cabecera"
      "menu menu menu menu"
      "vinos vinos vinos vinos"
      "promociones envios formasDePago seleccion"
      "footer footer footer footer";
  }
  .contenedor__destilados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas:
      "cabecera cabecera cabecera cabecera"
      "menu menu menu menu"
      "destilados destilados destilados destilados"
      "destilados2 destilados2 destilados2 destilados2"
      "promociones envios formasDePago seleccion"
      "footer footer footer footer";
  }
  .contenedor__espumantes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-template-areas:
      "cabecera cabecera cabecera cabecera"
      "menu menu menu menu"
      "espumantes espumantes espumantes espumantes"
      "espumantes2 espumantes2 espumantes2 espumantes2"
      "promociones envios formasDePago seleccion"
      "footer footer footer footer";
  }
}
