#header {
  grid-area: cabecera;
}
#menu {
  grid-area: menu;
}
#footer {
  grid-area: footer;
}

#productos {
  grid-area: productos;
}
#galeriaVinos {
  grid-area: galeriavinos;
}
#telollevamos {
  grid-area: telollevamos;
}

#galeriaProductos {
  grid-area: zonaProductos;
}

#barralateral {
  grid-area: barralateral;
}
#GaleriaPromoIndex {
  grid-area: galeriaPromoIndex;
}

@media screen and (min-width: 576px) {
  .contenedor__home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "cabecera cabecera cabecera"
      "menu menu menu"
      "video video video"
      "productos productos productos"
      "galeriaPromoIndex galeriaPromoIndex galeriaPromoIndex"
      "telollevamos telollevamos telollevamos"
      "footer footer footer";
    margin: auto;
  }
}

@media screen and (min-width: 576px) {
  .contenedor__ventaProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "cabecera cabecera cabecera"
      "menu menu menu"
      "barralateral zonaProductos zonaProductos"
      "footer footer footer";
    // margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .contenedor__ventaProductos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "cabecera cabecera cabecera cabecera"
      "menu menu menu menu"
      "barralateral zonaProductos zonaProductos zonaProductos"
      "footer footer footer footer";
  }
}

@media screen and (min-width: 1200px) {
  .contenedor__ventaProductos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "cabecera cabecera cabecera cabecera cabecera"
      "menu menu menu menu menu"
      "barralateral zonaProductos zonaProductos zonaProductos publicidad"
      "footer footer footer footer footer";
  }
}
