.header {
  font-family: "Roboto", sans-serif;
  background-color: $colorfondo;
  color: $colorsecundario;
  display: grid;
  .header__textos {
    font-size: 10.5px;
  }
  a {
    color: $colorsecundario;
    transition: all 0.3s ease-out;
  }
  a:hover {
    color: $colorblanco;
    transform: scale(1.25, 1.25);
  }
}

.header {
  a:hover {
    transform: rotate(360deg) scale(1.25, 1.25);
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .header__textos {
      font-size: 1rem;
    }
  }
}
