.header {
  font-family: "Roboto", sans-serif;
  background-color: $colorfondo;
  color: $colorsecundario;
  display: grid;
  .header__textos {
    font-size: 10.5px;
  }
  a {
    color: $colorsecundario;
  }
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .header__textos {
      font-size: 1rem;
    }
  }
}
