.fondologin {
  background-color: $colorfondo;
}

.formulariologin {
  font-family: "roboto", serif;
  h1 {
    font-family: "cinzel", serif;
    font-size: 1.5rem;
  }

  .form-control,
  btn {
    min-height: 3rem;
    line-height: initial;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  .navbar__titulo {
    font-size: 1.1rem;
    border-bottom: 1.5px solid $colorsecundario;
    margin-left: 0.5rem;
  }
  .navbar-brand {
    font-family: "Cinzel", serif;

    span {
      font-size: 1.25rem;
      color: white;
    }
  }

  .btnRedes button:nth-last-child(1):hover {
    background-color: $colorfacebook;
    border: $colorfacebook;
    color: $colorblanco;
  }
  .btnRedes button:hover {
    background-color: $colorgoogle;
    border: $colorgoogle;
    color: $colorblanco;
  }
}

// @media screen and (min-width: 768px) {
//   .fondologin {
//     .navbar-brand {
//       font-family: "Cinzel", serif;

//       span {
//         font-size: 2rem;
//         color: white;
//       }
//     }
//   }
// }
