.navbar {
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: hidden;
  flex-wrap: wrap;

  .container-fluid {
    padding-right: 0;
  }
  .nav-item {
    font-size: 0.8rem;
  }
  .navbar-toggler {
    border: 0;
    padding: 0px;
    color: $colorblanco;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand {
    margin-right: 0.25rem;
    img {
      width: 40px;
      height: 40px;
    }
    .icono {
      font-size: 1.4rem;
      color: $colorsecundario;
    }
    .texto {
      position: relative;
      top: -8px;
      left: 5px;
      color: $colorblanco;
      margin-left: -1rem;
      background-color: red;
      padding: 0.5px 2px;
      border-radius: 5px;
      font-size: 1rem;
    }
  }

  .navbar__a a {
    background-color: $colorprimario;
    margin: 0 0.25rem;
    padding: 0.5rem;
  }

  .navbar__titulo {
    font-size: 1.1rem;
    border-bottom: 1.5px solid $colorsecundario;
    margin-left: 0.5rem;
  }
}

.navbar-nav a:hover {
  background-color: $colorprimarioclaro;
  border-bottom: solid 1px $colorsecundario;
}

.hover a:hover {
  background-color: $colorprimarioclaro;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .navbar {
    .nav-item {
      font-size: 1rem;
    }
  }
}

.estiloplaceholder::placeholder {
  color: $colorprimario;
}
