/***********Menu************************/
.menu {
  grid-area: menu;
  height: 4rem;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  .navbar__titulo {
    font-size: 1.5rem;
    border-bottom: 1.5px solid $colorsecundario;
    margin-left: 0.5rem;
  }
}
