.tarjetas {
  background-color: $colornegro50;
  .card {
    background-color: inherit;
    border: 0;
    border-radius: 0;
    padding-right: 4px;
    padding-left: 4px;
  }
  .tarjeta {
    .card-img-overlay {
      h5 {
        font-size: 2rem;
        span {
          border-bottom: solid 1px $colorsecundario;
        }
      }
    }
  }
}

.tarjeta::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $colornegro50;
  opacity: 50%;
}
