@import "colores";

$blue: $colorprimarioclaro;
$gray-600: $colorsecundarioclaro;
$gray-900: $colorprimario;
$navbar-dark-color: $colorsecundario;
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // scroll-behavior: smooth;
  ol,
  ul {
    padding-left: 0;
  }
}

body {
  font-family: "Cinzel", serif;
  font-size: 16px;
  // background-color: $colorsecundario;
}
@import "navbar";
@import "grid";
@import "header";
@import "menu";
@import "cabecera";
@import "slider";
@import "videohome";
@import "tarjetaproductos";
@import "galeriahome";
@import "promociones";

@import "tarjetas";
@import "estilocards";
@import "barralateral";
@import "footer";

.contenedor {
  width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  height: auto;
}
.contenedor__vinos {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $colornegro50;
  height: auto;
}

@mixin promos($gridArea, $height, $display) {
  height: $height;
  grid-area: $gridArea;
  display: flex;
}

.promociones {
  @include promos(promociones, 35vh, flex);
}
.envios {
  @include promos(envios, 35vh, flex);
}
.formasDePago {
  @include promos(formasDePago, 35vh, flex);
}
.seleccion {
  @include promos(seleccion, 35vh, flex);
}

#galeriaVinos {
  grid-area: vinos;
}

#galeriaespumantes {
  grid-area: espumantes;
}
#galeriaespumantes2 {
  grid-area: espumantes2;
}
#galeriadestilados {
  grid-area: destilados;
}
#galeriadestilados2 {
  grid-area: destilados2;
}
